/z80/target/
/zxpoly-sprite-corrector/target/
/zxpoly-emul/target/
/trds/
/gfx/
/.idea/
/zxpoly-z80/target/
/zxpoly-emul/dependency-reduced-pom.xml
/zxpoly-emul/zxpoly-emul.iml
/zxpoly-sprite-corrector/dependency-reduced-pom.xml
/zxpoly-sprite-corrector/zxpoly-sprite-corrector.iml
/zxpoly-z80/zxpoly-z80.iml
/adapted/Atw2/target/lst.lst
*.iml
/zxpoly-sprite-corrector/nbproject/