/z80/target/
/zxpoly-sprite-corrector/target/
/zxpoly-emul/target/
/trds/
/gfx/
/.settings/
/.idea/
/zxpoly-z80/target/
/zxpoly-emul/dependency-reduced-pom.xml
/zxpoly-emul/zxpoly-emul.iml
/zxpoly-sprite-corrector/dependency-reduced-pom.xml
/zxpoly-sprite-corrector/zxpoly-sprite-corrector.iml
/zxpoly-z80/zxpoly-z80.iml
/adapted/Atw2/target/lst.lst
*.iml
/zxpoly-sprite-corrector/nbproject/
.classpath
.project
.settings
/zxpoly-emul/nb-configuration.xml
/zxpoly-emul/nbactions.xml
bin/
*.syso
versioninfo.go
/adapted/ZxWord/target/lst.lst
/zxpoly-emul-win-launcher/.build/go.mod
/zxpoly-emul-win-launcher/.build/go.sum
/zxpoly-emul-win-launcher/.build/goversioninfo
/zxpoly-emul-win-launcher/.build/main.go
/zxpoly-emul-win-launcher/.build/versioninfo.json
